body{
    min-width:850px;   
}

header{

}

.hide{
    display:none;   
}

.content{
    padding-top:3%;
    padding-bottom:2%;
}

section{
    min-height:800px;   
}
#fbsection1 h1{
    font-family: 'Josefin Slab','Myriad Pro',Arial,sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size:4.4em;
    padding-top:0;
    margin-top:0;
    font-weight:600;
    color:#333;
    text-align:center;
}

#fbsection1 h2{
    font-family: 'Josefin Slab','Myriad Pro',Arial,sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size:3em;
    padding-bottom:0;
    margin-bottom:0;
    text-align:center;
    font-weight:600;
    
}

#fbsection1 h3{
    font-family: 'Josefin Slab','Myriad Pro',Arial,sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size:3em;
    padding-bottom:0;
    margin-bottom:0;
    text-align:center;
    font-weight:600;
    margin-top:8%;
}

.main-row{
    margin-top:0;
    padding-top:0;
}

.main-row h4{
    font-size: 11em;
    text-align:center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-top:0;
    padding-top:0;
    letter-spacing:0.1em;
    color:white;
    margin-bottom:0;
    padding-bottom:0;
}

.main-hover a:hover{
    color:#333;
}

.collapse{
    display:none;
}

.collapse h6{
    font-family: 'Josefin Slab','Myriad Pro',Arial,sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size:3.4em;
    padding-top:0;
    margin-top:0;
    font-weight:600;
    color:#333;
    text-align:center;
}

.collapse a{
    font-family: 'Josefin Slab','Myriad Pro',Arial,sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size:inherit;
    padding-top:0;
    margin-top:0;
    font-weight:600;
    color:#333;
    text-align:center;
}

.collapse a:hover{
    color:'white';
}
#fbsection2 h1{
    font-family: 'Josefin Slab','Myriad Pro',Arial,sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size:3.8em;
    padding:0;
    margin-top:0;
    margin-bottom:0;
    font-weight:600;
    color:white;
    text-align:center;
}

.image-caption img{
    width:17%;
    margin-left:42%;
}

.info-caption{
    width:950px;
    position:relative;
    margin:0 auto;
    padding:20px;
    padding-top:0;
}

.info-caption h5{
    text-align:center;
    font-style:italic;
    font-size:1.5em;
    font-weight:500;
    margin-bottom:0;
    padding-bottom:0;
}

.info-caption p{
    font-size:1.1em;
    font-weight:300;
    line-height:1.7em;
    letter-spacing:1.5px;
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;   
    -moz-column-gap:30px; /* Firefox */
    -webkit-column-gap:30px; /* Safari and Chrome */
    column-gap:30px;
}


.about-section{
    margin-top:3%;   
}

.about-section h2{
    padding-bottom:0;
    margin-bottom:0;
}

    
.overlay{
    width:100%;
    height:100%;
    background-color: rgba(216, 206, 246, 0.7);
}


#fbsection3{
    color:#333;
}

#fbsection3 h1{
    text-align:center;
    font-size:3.7em;
    margin-top:0;
    padding-top:10%;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    color:#2E2E2E;
    font-weight:700;
}

world-caption{
    color:#333333;
}

#fbsection3 p{
    width:65%;
    margin:2% auto;
    padding:1.3%;
    font-size:1.3em;
    color:#FAFAFA;
    background-color: rgba(0,0,0,0.7);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    word-spacing:2px;
    line-height:1.7em;
}



#fbsection4{
    color: #1C1C1C;
}

#fbsection4 h1{
    text-align:center;
    margin-top:0px;
    padding-top:1%;
    font-size:4.5em;
    font-weight:700;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    padding-top:5%;
    margin-bottom:1%;   
}

.process-caption{
    float:left;
    width:25%;
}



footer{
    background-color:#333;
    height:172px;
    padding-left:8%;
    padding-right:8%;
}

footer h1{
    text-align:center;   
}
.footer-section{
    width:33%;
    float:left;
    padding:1%;
}

.footer-section h4{
    margin:0;
    margin-top:10px;
    margin-bottom:5px;
    padding:0;
}

.footer-section p{
    margin:0;
    margin-top:5px;
    padding:0;
}

.footer-section a{
    display:block;   
}
.footer-right{
    text-align:right; 
    padding-top:20px;
}

b{
    color:white;
    font-weight:700;
}
