.content{
    padding-top:3%;
    padding-bottom:2%;
}

section{
    min-height:800px;   
}
#fbsection1 h1{
    font-family: 'Josefin Slab','Myriad Pro',Arial,sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size:5.5em;
    margin-top:13%;
    margin-left:10%;
    margin-right:10%;
    font-weight:600;
    text-align:center;
}

#fbsection1 h2{
    font-family: 'Josefin Slab','Myriad Pro',Arial,sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size:3.3em;
    text-align:center;
    font-weight:600;
    
}

.about-caption{
    padding-top:0;
}

.about-caption h2{
    margin-bottom:0;
    padding-top:5%;
    padding-bottom:0;
    font-weight:600;
    font-size:4.5em;
}

.about-caption p{
    font-size:1.7em;
    line-height:1.5em;
}

#fbsection3{
    color: #1C1C1C;
}

#fbsection3 h1{
    text-align:center;
    margin-top:0px;
    padding-top:1%;
    font-size:4.5em;
    font-weight:700;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    padding-top:5%;
}


.process-caption{
    float:left;
}
#fbsection3 h2{
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    font-size:9em;
    font-weight:700;
    width:2em;
}








footer{
    background-color:#333;
    min-height:100px    ;
}

footer p{
    margin:0;   
}